@{
    ViewBag.Title = "TOKO SERBA ADA";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
        
            </hgroup>
        </div>
    </section>
}
<h3>Tentang Toko Kami:</h3>
<ol class="round">
    <li class="one">
        <h5>Menjual berbagai produk rumah tangga
        </h5>
        <h5>.</h5>
    </li>

    <li class="two">
        <h5>Bisa delivery Order
        </h5>
        <h5>
            .
        </h5>
    </li>

</ol>
