@{
    ViewBag.Title = "Mencari Dosen Pada Mata Kuliah";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
                
            </p>
        </div>
    </section>
}
<h3>Pilih Tabel:</h3>
<ol class="round">
    <li class="one">
        <h5>Dosen</h5><br />
        <button type ="button" class="btn btn-primary" style="color">
        <a href="Dosenn/Index">Dosen</button></a>
    </li>

    <li class="two">
        <h5>Mata Pelajaran</h5><br />
        <button type ="button" class="btn btn-primary" style="color">
        <a href="Mapell/Index">Mata Pelajaran</button></a>    </li>

</ol>
