@{
    ViewBag.Title = "Home Page";
}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>SMK TELKOM MALANG</h1>
                <p><h2>Jl. Danau Ranau Sawojajar Malang</h2></p>
                <p><h2>Telp.(0341) 712500</h2></p>
            </hgroup>
        </div>
    </section>
}

<ol class="round">
    <li class="one">
        <p> Berisi Data Siswa SMK Telkom Malang </p> 
        <a href="DataSiswa2">Data Siswa</a>.
    </li>

    <li class="two">
        <p> Berisi Daftar Kelas SMK Telkom Malang </p>
        <a href="Kelas2">Kelas</a>.
    </li>

</ol>
