@{
    ViewBag.Title = "Online Shop";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1> Welcome! </h1>
                <h2> Happy Shopping </h2>
            </hgroup>

             <img src="/images/profil.jpg">           
            <p>~Di sini kami menyajikan beberapa produk andalan untuk kami persembahkan pada anda semuanya, kita menyajikan 
                makanan, minuman, baju, dll loh harganya pun sangatlah miring Jangan sampai ketinggalan pokoknya, borong segera!!~</p>
        </div>
    </section>
            

    

}