

    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Sekolah App</h1>
            </hgroup>
            <p style="color:white">
            Ini adalah website untuk digunakan di sekolah
            </p>
        </div>
    </section>
<h3>Apa yang ada dalam website ini?</h3>
<ol class="round">
    <li class="one">
        <h5>Kelas</h5>
        Masukkan nama kelas dan jurusannya
    </li>

    <li class="two">
        <h5>Siswa</h5>
        Masukkan nama siswa dan nama kelasnya
    </li>

</ol>
