@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://www.atletcentury.com/" title="ASP.NET MVC Website">http://www.atletcentury.com/</a>.
                It’s time to let us help you plan your special occasions. Whether it’s grand weddings or important corporate events, private dinner, birthday party, anniversary or social event, our range of spacious venues, wedding package, and event package can accommodate for any type of event and our banquet team will be pleased to assist you creating and planning your most memorable moments. Contact us at events@atletcentury.com
             </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        Century Park Hotel Jakarta was established in 1991 and stands as the top of the line 4 star luxury business hotels in Senayan area Jakarta. This hotel in Senayan is near the Jakarta Convention Center / JCC, consisting of 476 spacious guest rooms and suites which reflect the spacious grandeur of its surroundings, offering a lush green view, wealth of activities and a high level of service.
        <a href="http://www.atletcentury.com/">Learn more…</a>
    </li>

    <li class="two">
        <h5>Add NuGet packages and jump-start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools.
        <a href="http://www.atletcentury.com/">Learn more…</a>
    </li>

    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href="http://www.atletcentury.com/">Learn more…</a>
    </li>
</ol>
