@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                
            </hgroup>
            <h1 style="color:white"><marquee><b>
                WEBSITE INI DIGUNAKAN UNTUK PEMINJAMAN BUKU
            </b></marquee></h1>
        </div>
    </section>
}
<h3>Pilihlah salah satu:</h3>
<ol class="round">
    <li class="one">
        <h5>Buku</h5>
        <button type="button" class="btn btn-primary" style="color:white"><a href="Bukuu/Index">BUKU</a></button>
    </li>
    <li class="two">
        <h5>Anggota</h5>
       <button type="button" class="btn btn-primary" style="color:white"><a href="Anggotaa/Index">ANGGOTA</a></button>
    </li>

   
</ol>
