@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>DATA MAHASISWA UNIVERITAS INDONESIA</h1>
            </hgroup>
            <p>
                
            </p>
        </div>
    </section>
}
<h3>Anda Dapat Menemukan:</h3>
<ol class="round">
    <li class="one">
        <h5> DATA MAHASISWA BESERTA BIODATA SINGKAT :  </h5>
        <a href="Mahasiswa/Index">---></a> 
    </li>
    <li class="two">
       <h5> DATA FAKULTAS : </h5>
        <a href="Fakultas/Index">---></a> 
    </li>
</ol>
